:root {
  /* Colors */
  --color-1: #89C5CC;
  --color-2: rgba(31, 21, 52, .5);
  --color-2-hover: #1F1534;
  --color-3: #000000;
  --color-4: #7D7987;
  --color-5: #69B99D;
  --color-5-hover: #4EA788;
  --color-6: #F9F9F9;

  /* Font Families */
  --font-family-1: 'Inter', sans-serif;
  --font-family-2: 'Mulish', sans-serif;
  --font-family-3: 'Open Sans', sans-serif;
  --font-family-4: 'DM Sans', sans-serif;;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../img/balls-decoration.svg"), linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
    align-items: center;
  font-size: 1.6rem;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 700;
}